*:focus {
    outline: none;
    opacity: 95%;
}

body {
    background-color: black;
    margin: 0;
    font-family: 'VT323';
    font-size: 2rem;
    color: orange;
    text-align: center;
    text-shadow: 0 0 2px orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(
        rgba(237, 143, 3, 0.45), black 130%);
    height: 100vh;
    width: 100vw;
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.25),  
    rgba(0, 0, 0, 0.25) .5px,
    transparent 1px,
    transparent 2px
    );
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 4rem;
    opacity: 95%;
}

.board {
    display:grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
}

.cell {
    border: 1.5px dotted orange;
    color: orange;
    font-size: 4rem;
    opacity: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink {
    animation: blink 3s infinite;
}

.inputs {
    display: flex;
    margin-top: 20px;
}

input {
    display: flex;
    flex-direction:column;
    border: none;
    width: 120px;
    background: transparent;
    color: orange;
    font-family: 'VT323';
    font-size: 2rem;
    text-align: left;
    text-shadow: 0 0 2px orange;
    opacity: 95%;
}

p {
    margin-top: -20px;
}